* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* #container{
    width: 1920px;
    margin: 0 auto;
} */

/* .logo{
    width: 114px;
    height: 83px;
    

} */

.nav-link {
    font-size: 22px;
}

.nav-item {
    padding: 0 40px;
}

.user {
    width: 63px;
    height: 63px;
}

.font-user {
    font-size: 18px;
    text-decoration: none;
    color: black;
}

.nav-heading {
    position: relative;
}

.sub-nav {
    position: absolute;
    right: 0;
}

#banner {
    width: 100%;
    background-color: rgba(157, 204, 255, 0.2);

}

.content p {
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0.48px;
}

.content h3 {
    font-size: 44px;
    font-weight: 400;
    color: rgba(47, 50, 125, 1);

}

.banner-btn {
    width: 236px;
    height: 63px;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    background-color: rgba(73, 187, 189, 1);
}

.banner-img {
    width: 100%;

}

.container-pd {
    padding: 70px 0;
}

.text p {
    font-size: 30px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.80);
}

.content-img img {

    width: 100%;
}

.col-img {
    position: relative;
}

section .container-pd {
    padding: 80px 0;
}

.content-btn button {
    color: rgba(0, 0, 0, 0.80);
    font-size: 24px;
    font-weight: 700;
    bottom: 34px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    width: 236px;
    height: 63px;
    background-color: rgba(255, 255, 255, 0.70);
}

.text-information {
    padding: 93px 0 41px 0;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 0.6;
}

.information img {
    width: 100%;
}

.sub-information .user {
    width: 70px;
    height: 70px;
}

.sub-information p {
    color: #252641;
    font-size: 26px;
    font-weight: 500;
    line-height: 180%;
}

.sub-information .sub-text {
    color: #696984;
    font-size: 20px;
    font-weight: 400;
    line-height: 180%;
    letter-spacing: 0.4px;
}

.row .read a {
    color: #696984;
    font-size: 20px;
    font-weight: 400;
    line-height: 180%;
    letter-spacing: 0.4px;
}

.view img {
    width: 26px;
    height: 23px;
    margin-bottom: 10px;
}

.view p {
    display: inline;
}

.flex-box {
    display: flex;
    justify-content: space-between;
}

/* .view{
    display: inline-block;
}
.read{
    display: inline-block;
} */
.instruction button {

    width: 50px;
    height: 50px;
    color: white;
    font-size: 24px;
    font-weight: 900;
    border: none;
    background-color: rgba(73, 187, 189, 1);
    border-radius: 5px;


}

.instruction button:hover {
    background-color: rgba(73, 187, 189, 0.5);
}

.instruction {
    position: absolute;
    display: inline;
    bottom: 66px;
    right: 137px;
}

.information {
    position: relative;
}

.articles img {
    width: 100%;
}

.articles .view img {
    width: 24px;
    height: 24px;


}

.articles .view {
    width: 96px;
    height: 28px;
    position: relative;
}

.articles .read img {
    width: 21px;
    height: 21px;
}

.articles .view p {
    color: #696984;
    font-size: 14px;
    font-weight: 500;
    line-height: 180%;
    letter-spacing: 0.28px;
    position: absolute;
    top: 0;
    margin-left: 10px;

}

.articles .read p {
    color: #696984;
    font-size: 14px;
    font-weight: 500;
    line-height: 180%;
    letter-spacing: 0.28px;
    display: inline-block;
    margin-left: 10px;


}

.articles .flex-box {
    margin-top: 20px;
}

.articles .topic {
    color: #252641;
    font-size: 24px;
    font-weight: 500;
}

.articles-text .articles-text {
    color: #696984;
    font-size: 18px;
    font-weight: 400;
    line-height: 180%;
    letter-spacing: 0.36px;
}

.articles-flex {
    display: flex;
    justify-content: space-between;
}

.articles-flex .read img {
    width: 44px;
    height: 44px;
}

.articles-flex .read p {
    font-size: 18px;
    color: #000;
    font-weight: 500;
    letter-spacing: 0.36px;
}

.articles-flex .view p {
    color: #49BBBD;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.48px;
    margin-top: -3px;
}

.articles-flex .view svg {
    margin-top: 12px;

}

.articles {}

.container-articles {
    padding: 20px 20px 35px 30px;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 18.829999923706055px 47.08000183105469px 0px rgba(47, 50, 125, 0.10);
}

.Marketing {
    color: #000;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 0.6px;
    padding: 80px 0 50px 0;
}

footer {
    background: #252641;
    ;
}

footer .row img {
    width: 114px;
    height: 83px;
}

footer .row #mycanvas {
    margin: 0 41px 0 77px;
}

footer .logo-footer {
    display: flex;
    justify-content: center;
}

footer .logo-footer p {
    color: #FFF;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 0.88px;
}

footer .logo-footer .vertical {
    display: block;
}

footer .logo-footer {
    margin-top: 74px;
    margin-bottom: 95px;
}

footer .foot-text p {
    color: #B2B3CF;
    text-align: center;
    font-size: 26px;
    font-weight: 500;
    letter-spacing: 1.04px;
}

footer form {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 96px;
}

footer form .bg {
    background-color: #49BBBD;
    color: #FFF;
    font-size: 22px;
    font-weight: 500;
    width: 179px;
    height: 60px;
    border-radius: 60px;
}

footer form .foot-input {
    width: 400px;
    height: 60px;
    border-radius: 80px;
    border: 1px solid #83839A;

    background-color: #252641;
}

footer form .foot-input::placeholder {
    color: #83839A;
    transform: translateX(30px);
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.8px;
}

.place {
    text-align: center;
    /* transform: translateX(50%); */
    margin-bottom: 20px;
}

.place canvas {

    margin: 0 20px;
}

.place p {
    display: inline-block;
    color: #B2B3CF;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 0.88px;
}

.time {
    color: #B2B3CF;
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 0.88px;
    margin-bottom: 40px;
}