* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 1920px;
    color: #696984;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.36px;
}

.font_title {
    color: #000;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.6px;
    margin-bottom: 0;
}

.title_con {
    color: #49BBBD;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
}

.font_green {
    color: #49BBBD;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.4px;
    margin: 42px 0 35px 0;
    text-align: center;
}

.nav_top {
    height: 143px;
    padding: 0 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo>span {
    color: #5B5B5B;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.28px;
    position: relative;
    top: 7px;
    left: -65px;
}

li>a {
    color: #5B5B5B;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.44px;
    margin: 0 40px;
}

.avatar_login {
    width: 63px;
    height: 63px;
    flex-shrink: 0;
    border-radius: 60px;
    background: url('img/image 12.png'), lightgray -13.75px -4.694px / 125% 161.839% no-repeat;
    display: inline-block;
}

.acc_user {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.36px;
    margin-left: 15px;
}

/* ============================= */

.banner {
    width: 1920px;
    height: 652px;
    background: url('img/Rectangle 77.png'), lightgray 50% / cover no-repeat;
}

/* ================== */
.btn_over {
    width: 200px;
    height: 63px;
    border-radius: 12px;
    padding: 0;
    background: rgba(0, 0, 0, 0.10);
    color: rgba(0, 0, 0, 0.40);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-right: 50px;
}

.box {
    width: 950px;
    height: 764px;
    border-radius: 20px;
    background: rgba(157, 204, 255, 0.30);
    margin: 87px 0 100px 0;
    padding: 50px;
}

.box_con {
    width: 257px;
    height: 199px;
    background-color: #FFF;
    border-radius: 20px;
    float: left;
}

.progress {
    width: 548px;
    height: 33px;
    float: left;
}

.user_small {
    width: 70.841px;
    height: 70.841px;
    border-radius: 60px;
    background: url('img/image 12.png'), lightgray -15.461px -5.279px / 125% 161.839% no-repeat;
}

.big_card {
    width: 501px;
    height: 1275px;
    border-radius: 20px;
    border: 30px solid #FFF;
    background: #FFF;
    position: absolute;
    right: 120px;
    bottom: 117px;
}

.btn_buynow {
    width: 443px;
    height: 63px;
    border-radius: 12px;
    background: #49BBBD;
    border: none;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.lst_include {
    width: 349px;
    height: 21px;
    color: rgba(0, 0, 0, 0.50);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.28px;
    margin-bottom: 10px;
}